<div class="centered">
  <mat-card class="task-detail">
    <mat-card-header>
      <mat-card-title *ngIf="task">Edit Task</mat-card-title>
      <mat-card-title *ngIf="!task">Add Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Processor</mat-label>
        <mat-select>
          <mat-option *ngFor="let processor of processors" [value]="processor.name">
            {{ processor.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>File Path</mat-label>
        <input matInput type="text" name="filePath" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="controls">
      <button mat-button class="control" (click)="saveTask()">Save</button>
      <button mat-button class="control" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
