.mat-card {
  width: 66%;
  border-radius: 0px;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}

table.mat-table {
  width: 99%;
}

th.mat-header-cell,
td.mat-cell {
  padding: 24px;
  white-space: unset;
  word-wrap: break-word;
  word-break: break-word;
}

.mat-column-name,
.mat-column-date-added,
.mat-column-date-disabled {
  flex: 0 0 33%;
  width: 33%;
  text-align: center;
}

.centered {
  width: 100%;
}

.control {
  margin-left: 1em;
  margin-right: 1em;
}

.controls {
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 2em;
}

.mat-button {
  border: 1px solid #303030;
}

.mat-form-field {
  margin: 10px;
}

.mat-spinner {
  margin: 0 auto;
}

.errorMessage {
  margin-bottom: 10px;
}
