<div class="centered">
  <ng-container *ngIf="taskList && taskList.length > 0">
    <table mat-table [dataSource]="taskList">
      <ng-container matColumnDef="workflow">
        <th mat-header-cell *matHeaderCellDef>Workflow</th>
        <td mat-cell *matCellDef="let element">{{ element.taskNum }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.workflow }}</td>
      </ng-container>

      <ng-container matColumnDef="processor">
        <th mat-header-cell *matHeaderCellDef>Processor</th>
        <td mat-cell *matCellDef="let element">{{ element.processor }}</td>
      </ng-container>

      <ng-container matColumnDef="file-location">
        <th mat-header-cell *matHeaderCellDef>File Location</th>
        <td mat-cell *matCellDef="let element">{{ element.filePath }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>
  </ng-container>
</div>
