.mat-card {
  border-radius: 0px;
}

table.mat-table {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

th.mat-header-cell,
td.mat-cell {
  padding: 24px;
  width: 22%;
}

.centered {
  width: 100%;
  margin-top: 4em;
}

.control {
  margin-left: 1em;
  margin-right: 1em;
}

.controls {
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 2em;
}
