<div class="centered">
  <ng-container matCard *ngIf="workflow">
    <mat-card class="workflow-detail">
      <mat-card-header>
        <mat-card-title
          >Workflow Name: {{ workflow.name || "invalid" }}</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>ID: {{ workflow.id || "unknown" }}</p>
        <p>Processor: {{ workflow.processor_name || "unknown" }}</p>
        <p>Input Path: {{ workflow.input_path || "unknown" }}</p>
        <p>Output Path: {{ workflow.output_path || "unknown" }}</p>
        <p>Interval: {{ workflow.interval || "unknown" }}</p>
      </mat-card-content>
      <div class="controls">
        <button mat-button class="control" (click)="editWorkflow()">
          Edit Workflow
        </button>
        <button mat-button class="control" (click)="deleteWorkflow()">
          Delete Workflow
        </button>
        <button mat-button class="control" (click)="back()">Back</button>
      </div>
    </mat-card>
  </ng-container>
</div>
