.mat-card {
  border-radius: 0px;
}

.centered {
  width: 100%;
}

.login {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.f-container {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.mat-button {
  border: 1px solid #303030;
}
