<div class="centered">
  <mat-card>
    <mat-card-header>
      <h2>Processors</h2>
    </mat-card-header>
    <ng-container *ngIf="processors && processors.length > 0 && !loadingProcessors">
      <table mat-table [dataSource]="processors">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name || 'unknown' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
      </table>
    </ng-container>
    <ng-container *ngIf="loadingProcessors"><mat-spinner></mat-spinner></ng-container>
    <ng-container *ngIf="errorMessage">
      <div class="errorMessage">{{ errorMessage }}</div>
    </ng-container>
    <div class="controls">
      <button mat-button class="control" (click)="addProcessor()">Add Processor</button>
    </div>
  </mat-card>
  <ng-container *ngIf="addingProcessor">
    <app-processors-upload (addingProcessor)="isAdding($event)"></app-processors-upload>
  </ng-container>
</div>
