<div class="centered">
  <ng-container *ngIf="taskList && taskList.length > 0">
    <table mat-table [dataSource]="taskList">
      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef>Task ID</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="gotoTaskDetail(element.taskId)">{{ element.taskId }}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="workflow">
        <th mat-header-cell *matHeaderCellDef>Workflow</th>
        <td mat-cell *matCellDef="let element">{{ element.workflow }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>
  </ng-container>
</div>
