.mat-card {
  border-radius: 0px;
}

table.mat-table {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

th.mat-header-cell,
td.mat-cell {
  padding: 24px;
  width: 22%;
}

.centered {
  width: 100%;
}
