<div class="centered">
  <ng-container matCard *ngIf="task">
    <mat-card class="task-detail">
      <mat-card-header>
        <mat-card-title>Task ID {{ task.taskNum }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Status: {{ task.status }}</p>
        <p>Date: {{ task.date }}</p>
        <p>File: {{ task.filePath }}</p>
        <p>Processor: {{ task.processor }}</p>
        <p>Workflow: {{ task.workflow }}</p>
        <p>Error: {{ task.error }}</p>
      </mat-card-content>
      <div class="controls">
        <button mat-button class="control" (click)="rerunTask()">Re-run</button>
        <button mat-button class="control" (click)="cancelTask()">Cancel</button>
        <button mat-button class="control" (click)="back()">Back</button>
      </div>
    </mat-card>
  </ng-container>
</div>
