<div class="centered">
  <mat-card class="task-detail">
    <mat-card-header>
      <mat-card-title>Upload a processor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" #name />
      </mat-form-field>
      <mat-file-upload
        matInput
        #filePath
        [showUploadButton]="false"
        (selectedFilesChanged)="onSelectedFilesChanged($event)"
      ></mat-file-upload>
    </mat-card-content>
    <mat-card-actions class="controls">
      <button mat-button class="control" (click)="uploadProcessor(name)">Upload Processor</button>
      <button mat-button class="control" (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
